@model List<MusicModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="justify-content-center home">
    <h1 class="display-4">Music</h1>
    <div class="view-home">
        <div class="swiper   ">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper ">
                <!-- Slides -->
                @foreach (var imgas in Model)
                {
                    
                        <div class="swiper-slide d-flex align-items-center justify-content-center">
                        <img src="~/Imgae_Musics/@imgas.Image" alt="@imgas.Name" class="music-image" data-song-id="@imgas.Id">
                        </div>
                    
                }
            </div>
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

            
        </div>


<script>
    // Define a JavaScript variable and assign the embedded JSON data
    var musics = @Html.Raw(Json.Serialize(Model));

    // chuyển nhạc theo hình
   
    

</script>
