@{
    ViewData["Title"] = "Home Page";
}
<section class="fog">
    <div class="absolute-bg"></div>
    <div class="fog-container">
        <div class="fog-img fog-img-first"></div>
        <div class="fog-img fog-img-second"></div>
    </div>
</section>
<div class="justify-content-center">
    <h1 class="display-4">Welcome</h1>
    <div>

    </div>
</div>

